.graph__container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.graph__node {
  cursor: pointer;
}

.graph__node_rect {
  fill: url(#nodeGradient);
  stroke: #2f80ed;
  stroke-width: 2;
  rx: 15;
  ry: 15;
}

.graph__node_text {
  font-size: 14px;
  font-weight: 400;
  fill: #000;
  text-anchor: middle;
  stroke-width: 0.5;
}

@media (max-width: 768px) {
  .graph__node_rect {
    width: 100px;
    height: 25px;
    rx: 10;
    ry: 10;
  }

  .graph__node_text {
    font-size: 10px;
    text-anchor: middle;
    dominant-baseline: middle;
  }
}
